{
    "openapi": "3.0.0",
    "servers": [
        {
            "url": "https://management.azure.com/"
        }
    ],
    "info": {
        "description": "Azure Blueprints Client provides access to blueprint definitions, assignments, and artifacts, and related blueprint operations.",
        "title": "BlueprintClient",
        "version": "2018-11-01-preview",
        "x-apisguru-categories": [
            "cloud"
        ],
        "x-logo": {
            "url": "https://api.apis.guru/v2/cache/logo/https_assets.onestore.ms_cdnfiles_onestorerolling-1606-01000_shell_v3_images_logo_microsoft.png"
        },
        "x-origin": [
            {
                "format": "swagger",
                "url": "https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/blueprint/resource-manager/Microsoft.Blueprint/preview/2018-11-01-preview/assignmentOperation.json",
                "version": "2.0"
            }
        ],
        "x-preferred": true,
        "x-providerName": "azure.com",
        "x-serviceName": "blueprint-assignmentOperation",
        "x-tags": [
            "Azure",
            "Microsoft"
        ]
    },
    "security": [
        {
            "azure_auth": [
                "user_impersonation"
            ]
        }
    ],
    "paths": {
        "/{scope}/providers/Microsoft.Blueprint/blueprintAssignments/{assignmentName}/assignmentOperations": {
            "get": {
                "description": "List operations for given blueprint assignment within a subscription.",
                "operationId": "AssignmentOperations_List",
                "parameters": [
                    {
                        "description": "Client API Version.",
                        "in": "query",
                        "name": "api-version",
                        "required": true,
                        "x-ms-parameter-location": "client",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "The scope of the resource. Valid scopes are: management group (format: '/providers/Microsoft.Management/managementGroups/{managementGroup}'), subscription (format: '/subscriptions/{subscriptionId}').",
                        "in": "path",
                        "name": "scope",
                        "required": true,
                        "x-ms-parameter-location": "method",
                        "x-ms-skip-url-encoding": true,
                        "schema": {
                            "type": "string"
                        },
                        "allowReserved": true
                    },
                    {
                        "description": "Name of the blueprint assignment.",
                        "in": "path",
                        "name": "assignmentName",
                        "required": true,
                        "x-ms-parameter-location": "method",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK -- all blueprint assignment operations retrieved.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "List of AssignmentOperation.",
                                    "properties": {
                                        "nextLink": {
                                            "description": "Link to the next page of results.",
                                            "readOnly": true,
                                            "type": "string"
                                        },
                                        "value": {
                                            "description": "List of AssignmentOperation.",
                                            "items": {
                                                "allOf": [
                                                    {
                                                        "description": "Common properties for all Azure resources.",
                                                        "properties": {
                                                            "id": {
                                                                "description": "String Id used to locate any resource on Azure.",
                                                                "readOnly": true,
                                                                "type": "string"
                                                            },
                                                            "name": {
                                                                "description": "Name of this resource.",
                                                                "readOnly": true,
                                                                "type": "string"
                                                            },
                                                            "type": {
                                                                "description": "Type of this resource.",
                                                                "readOnly": true,
                                                                "type": "string"
                                                            }
                                                        },
                                                        "type": "object",
                                                        "x-ms-azure-resource": true
                                                    }
                                                ],
                                                "description": "Represents underlying deployment detail for each update to the blueprint assignment.",
                                                "properties": {
                                                    "properties": {
                                                        "description": "Properties for AssignmentOperation.",
                                                        "x-ms-client-flatten": true,
                                                        "properties": {
                                                            "assignmentState": {
                                                                "description": "State of this blueprint assignment operation.",
                                                                "type": "string"
                                                            },
                                                            "blueprintVersion": {
                                                                "description": "The published version of the blueprint definition used for the blueprint assignment operation.",
                                                                "type": "string"
                                                            },
                                                            "deployments": {
                                                                "description": "List of jobs in this blueprint assignment operation.",
                                                                "items": {
                                                                    "description": "Represents individual job in given blueprint assignment operation.",
                                                                    "properties": {
                                                                        "action": {
                                                                            "description": "Name of the action performed in this job.",
                                                                            "type": "string"
                                                                        },
                                                                        "history": {
                                                                            "description": "Result of this deployment job for each retry.",
                                                                            "items": {
                                                                                "description": "Result of each individual deployment in a blueprint assignment.",
                                                                                "properties": {
                                                                                    "error": {
                                                                                        "description": "Contains error details if deployment job failed.",
                                                                                        "properties": {
                                                                                            "code": {
                                                                                                "description": "Error code.",
                                                                                                "type": "string"
                                                                                            },
                                                                                            "message": {
                                                                                                "description": "Error message.",
                                                                                                "type": "string"
                                                                                            }
                                                                                        },
                                                                                        "type": "object"
                                                                                    },
                                                                                    "resources": {
                                                                                        "description": "Resources created as result of the deployment job.",
                                                                                        "items": {
                                                                                            "allOf": [
                                                                                                {
                                                                                                    "description": "Common properties for all Azure resources.",
                                                                                                    "properties": {
                                                                                                        "id": {
                                                                                                            "description": "String Id used to locate any resource on Azure.",
                                                                                                            "readOnly": true,
                                                                                                            "type": "string"
                                                                                                        },
                                                                                                        "name": {
                                                                                                            "description": "Name of this resource.",
                                                                                                            "readOnly": true,
                                                                                                            "type": "string"
                                                                                                        },
                                                                                                        "type": {
                                                                                                            "description": "Type of this resource.",
                                                                                                            "readOnly": true,
                                                                                                            "type": "string"
                                                                                                        }
                                                                                                    },
                                                                                                    "type": "object",
                                                                                                    "x-ms-azure-resource": true
                                                                                                }
                                                                                            ],
                                                                                            "description": "Azure resource created from deployment job.",
                                                                                            "properties": {
                                                                                                "properties": {
                                                                                                    "additionalProperties": {
                                                                                                        "description": "property value",
                                                                                                        "type": "string"
                                                                                                    },
                                                                                                    "description": "Additional properties in a dictionary.",
                                                                                                    "type": "object"
                                                                                                }
                                                                                            },
                                                                                            "type": "object"
                                                                                        },
                                                                                        "type": "array"
                                                                                    }
                                                                                },
                                                                                "type": "object"
                                                                            },
                                                                            "type": "array"
                                                                        },
                                                                        "jobId": {
                                                                            "description": "Id of this job.",
                                                                            "type": "string"
                                                                        },
                                                                        "jobState": {
                                                                            "description": "State of this job.",
                                                                            "type": "string"
                                                                        },
                                                                        "kind": {
                                                                            "description": "Kind of job.",
                                                                            "type": "string"
                                                                        },
                                                                        "requestUri": {
                                                                            "description": "Reference to deployment job resource id.",
                                                                            "type": "string"
                                                                        },
                                                                        "result": {
                                                                            "description": "Deployment job result.",
                                                                            "properties": {
                                                                                "error": {
                                                                                    "description": "Contains error details if deployment job failed.",
                                                                                    "properties": {
                                                                                        "code": {
                                                                                            "description": "Error code.",
                                                                                            "type": "string"
                                                                                        },
                                                                                        "message": {
                                                                                            "description": "Error message.",
                                                                                            "type": "string"
                                                                                        }
                                                                                    },
                                                                                    "type": "object"
                                                                                },
                                                                                "resources": {
                                                                                    "description": "Resources created as result of the deployment job.",
                                                                                    "items": {
                                                                                        "allOf": [
                                                                                            {
                                                                                                "description": "Common properties for all Azure resources.",
                                                                                                "properties": {
                                                                                                    "id": {
                                                                                                        "description": "String Id used to locate any resource on Azure.",
                                                                                                        "readOnly": true,
                                                                                                        "type": "string"
                                                                                                    },
                                                                                                    "name": {
                                                                                                        "description": "Name of this resource.",
                                                                                                        "readOnly": true,
                                                                                                        "type": "string"
                                                                                                    },
                                                                                                    "type": {
                                                                                                        "description": "Type of this resource.",
                                                                                                        "readOnly": true,
                                                                                                        "type": "string"
                                                                                                    }
                                                                                                },
                                                                                                "type": "object",
                                                                                                "x-ms-azure-resource": true
                                                                                            }
                                                                                        ],
                                                                                        "description": "Azure resource created from deployment job.",
                                                                                        "properties": {
                                                                                            "properties": {
                                                                                                "additionalProperties": {
                                                                                                    "description": "property value",
                                                                                                    "type": "string"
                                                                                                },
                                                                                                "description": "Additional properties in a dictionary.",
                                                                                                "type": "object"
                                                                                            }
                                                                                        },
                                                                                        "type": "object"
                                                                                    },
                                                                                    "type": "array"
                                                                                }
                                                                            },
                                                                            "type": "object"
                                                                        }
                                                                    },
                                                                    "type": "object"
                                                                },
                                                                "type": "array"
                                                            },
                                                            "timeCreated": {
                                                                "description": "Create time of this blueprint assignment operation.",
                                                                "type": "string"
                                                            },
                                                            "timeFinished": {
                                                                "description": "Finish time of the overall underlying deployments.",
                                                                "type": "string"
                                                            },
                                                            "timeStarted": {
                                                                "description": "Start time of the underlying deployment.",
                                                                "type": "string"
                                                            }
                                                        },
                                                        "type": "object"
                                                    }
                                                },
                                                "type": "object"
                                            },
                                            "type": "array"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "tags": [
                    "AssignmentOperations"
                ],
                "x-ms-examples": {
                    "Assignment": {
                        "parameters": {
                            "api-version": "2018-11-01-preview",
                            "assignmentName": "assignSimpleBlueprint",
                            "scope": "subscriptions/f8df94f2-2f5a-4f4a-bcaf-1bb992fb564b"
                        },
                        "responses": {
                            "200": {
                                "body": {
                                    "nextLink": null,
                                    "value": [
                                        {
                                            "id": "/subscriptions/f8df94f2-2f5a-4f4a-bcaf-1bb992fb564b/providers/microsoft.blueprint/blueprintAssignments/assignSimpleBlueprint/assignmentOperations/fb5d4dcb-7ce2-4087-ba7a-459aa74e5e0f",
                                            "name": "fb5d4dcb-7ce2-4087-ba7a-459aa74e5e0f",
                                            "properties": {
                                                "assignmentState": "succeed",
                                                "blueprintVersion": "v20181101",
                                                "deployments": [
                                                    {
                                                        "action": "put",
                                                        "history": [
                                                            {
                                                                "error": {
                                                                    "code": "dummy",
                                                                    "message": "dummy"
                                                                }
                                                            }
                                                        ],
                                                        "jobState": "succeeded",
                                                        "kind": "azureResource",
                                                        "requestUri": "/subscriptions/f8df94f2-2f5a-4f4a-bcaf-1bb992fb564b/providers/microsoft.deployments/deployments/48432786-2f1b-4925-8032-a5d57bcb5b6e",
                                                        "result": {
                                                            "resources": [
                                                                {
                                                                    "id": "blabla",
                                                                    "name": "foobar",
                                                                    "type": "foo/bar"
                                                                }
                                                            ]
                                                        }
                                                    }
                                                ],
                                                "timeCreated": "2018-11-13T15:19:45-08:00",
                                                "timeFinished": "2018-11-13T15:26:02-08:00",
                                                "timeStarted": "2018-11-13T15:21:49-08:00"
                                            },
                                            "type": "microsoft.blueprint/blueprintAssignments/operations"
                                        }
                                    ]
                                }
                            }
                        }
                    }
                },
                "x-ms-pageable": {
                    "nextLinkName": "nextLink"
                }
            }
        },
        "/{scope}/providers/Microsoft.Blueprint/blueprintAssignments/{assignmentName}/assignmentOperations/{assignmentOperationName}": {
            "get": {
                "description": "Get a blueprint assignment operation.",
                "operationId": "AssignmentOperations_Get",
                "parameters": [
                    {
                        "description": "Client API Version.",
                        "in": "query",
                        "name": "api-version",
                        "required": true,
                        "x-ms-parameter-location": "client",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "The scope of the resource. Valid scopes are: management group (format: '/providers/Microsoft.Management/managementGroups/{managementGroup}'), subscription (format: '/subscriptions/{subscriptionId}').",
                        "in": "path",
                        "name": "scope",
                        "required": true,
                        "x-ms-parameter-location": "method",
                        "x-ms-skip-url-encoding": true,
                        "schema": {
                            "type": "string"
                        },
                        "allowReserved": true
                    },
                    {
                        "description": "Name of the blueprint assignment.",
                        "in": "path",
                        "name": "assignmentName",
                        "required": true,
                        "x-ms-parameter-location": "method",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "Name of the blueprint assignment operation.",
                        "in": "path",
                        "name": "assignmentOperationName",
                        "required": true,
                        "x-ms-parameter-location": "method",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK -- blueprint assignment operation retrieved.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "allOf": [
                                        {
                                            "description": "Common properties for all Azure resources.",
                                            "properties": {
                                                "id": {
                                                    "description": "String Id used to locate any resource on Azure.",
                                                    "readOnly": true,
                                                    "type": "string"
                                                },
                                                "name": {
                                                    "description": "Name of this resource.",
                                                    "readOnly": true,
                                                    "type": "string"
                                                },
                                                "type": {
                                                    "description": "Type of this resource.",
                                                    "readOnly": true,
                                                    "type": "string"
                                                }
                                            },
                                            "type": "object",
                                            "x-ms-azure-resource": true
                                        }
                                    ],
                                    "description": "Represents underlying deployment detail for each update to the blueprint assignment.",
                                    "properties": {
                                        "properties": {
                                            "description": "Properties for AssignmentOperation.",
                                            "x-ms-client-flatten": true,
                                            "properties": {
                                                "assignmentState": {
                                                    "description": "State of this blueprint assignment operation.",
                                                    "type": "string"
                                                },
                                                "blueprintVersion": {
                                                    "description": "The published version of the blueprint definition used for the blueprint assignment operation.",
                                                    "type": "string"
                                                },
                                                "deployments": {
                                                    "description": "List of jobs in this blueprint assignment operation.",
                                                    "items": {
                                                        "description": "Represents individual job in given blueprint assignment operation.",
                                                        "properties": {
                                                            "action": {
                                                                "description": "Name of the action performed in this job.",
                                                                "type": "string"
                                                            },
                                                            "history": {
                                                                "description": "Result of this deployment job for each retry.",
                                                                "items": {
                                                                    "description": "Result of each individual deployment in a blueprint assignment.",
                                                                    "properties": {
                                                                        "error": {
                                                                            "description": "Contains error details if deployment job failed.",
                                                                            "properties": {
                                                                                "code": {
                                                                                    "description": "Error code.",
                                                                                    "type": "string"
                                                                                },
                                                                                "message": {
                                                                                    "description": "Error message.",
                                                                                    "type": "string"
                                                                                }
                                                                            },
                                                                            "type": "object"
                                                                        },
                                                                        "resources": {
                                                                            "description": "Resources created as result of the deployment job.",
                                                                            "items": {
                                                                                "allOf": [
                                                                                    {
                                                                                        "description": "Common properties for all Azure resources.",
                                                                                        "properties": {
                                                                                            "id": {
                                                                                                "description": "String Id used to locate any resource on Azure.",
                                                                                                "readOnly": true,
                                                                                                "type": "string"
                                                                                            },
                                                                                            "name": {
                                                                                                "description": "Name of this resource.",
                                                                                                "readOnly": true,
                                                                                                "type": "string"
                                                                                            },
                                                                                            "type": {
                                                                                                "description": "Type of this resource.",
                                                                                                "readOnly": true,
                                                                                                "type": "string"
                                                                                            }
                                                                                        },
                                                                                        "type": "object",
                                                                                        "x-ms-azure-resource": true
                                                                                    }
                                                                                ],
                                                                                "description": "Azure resource created from deployment job.",
                                                                                "properties": {
                                                                                    "properties": {
                                                                                        "additionalProperties": {
                                                                                            "description": "property value",
                                                                                            "type": "string"
                                                                                        },
                                                                                        "description": "Additional properties in a dictionary.",
                                                                                        "type": "object"
                                                                                    }
                                                                                },
                                                                                "type": "object"
                                                                            },
                                                                            "type": "array"
                                                                        }
                                                                    },
                                                                    "type": "object"
                                                                },
                                                                "type": "array"
                                                            },
                                                            "jobId": {
                                                                "description": "Id of this job.",
                                                                "type": "string"
                                                            },
                                                            "jobState": {
                                                                "description": "State of this job.",
                                                                "type": "string"
                                                            },
                                                            "kind": {
                                                                "description": "Kind of job.",
                                                                "type": "string"
                                                            },
                                                            "requestUri": {
                                                                "description": "Reference to deployment job resource id.",
                                                                "type": "string"
                                                            },
                                                            "result": {
                                                                "description": "Deployment job result.",
                                                                "properties": {
                                                                    "error": {
                                                                        "description": "Contains error details if deployment job failed.",
                                                                        "properties": {
                                                                            "code": {
                                                                                "description": "Error code.",
                                                                                "type": "string"
                                                                            },
                                                                            "message": {
                                                                                "description": "Error message.",
                                                                                "type": "string"
                                                                            }
                                                                        },
                                                                        "type": "object"
                                                                    },
                                                                    "resources": {
                                                                        "description": "Resources created as result of the deployment job.",
                                                                        "items": {
                                                                            "allOf": [
                                                                                {
                                                                                    "description": "Common properties for all Azure resources.",
                                                                                    "properties": {
                                                                                        "id": {
                                                                                            "description": "String Id used to locate any resource on Azure.",
                                                                                            "readOnly": true,
                                                                                            "type": "string"
                                                                                        },
                                                                                        "name": {
                                                                                            "description": "Name of this resource.",
                                                                                            "readOnly": true,
                                                                                            "type": "string"
                                                                                        },
                                                                                        "type": {
                                                                                            "description": "Type of this resource.",
                                                                                            "readOnly": true,
                                                                                            "type": "string"
                                                                                        }
                                                                                    },
                                                                                    "type": "object",
                                                                                    "x-ms-azure-resource": true
                                                                                }
                                                                            ],
                                                                            "description": "Azure resource created from deployment job.",
                                                                            "properties": {
                                                                                "properties": {
                                                                                    "additionalProperties": {
                                                                                        "description": "property value",
                                                                                        "type": "string"
                                                                                    },
                                                                                    "description": "Additional properties in a dictionary.",
                                                                                    "type": "object"
                                                                                }
                                                                            },
                                                                            "type": "object"
                                                                        },
                                                                        "type": "array"
                                                                    }
                                                                },
                                                                "type": "object"
                                                            }
                                                        },
                                                        "type": "object"
                                                    },
                                                    "type": "array"
                                                },
                                                "timeCreated": {
                                                    "description": "Create time of this blueprint assignment operation.",
                                                    "type": "string"
                                                },
                                                "timeFinished": {
                                                    "description": "Finish time of the overall underlying deployments.",
                                                    "type": "string"
                                                },
                                                "timeStarted": {
                                                    "description": "Start time of the underlying deployment.",
                                                    "type": "string"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "tags": [
                    "AssignmentOperations"
                ],
                "x-ms-examples": {
                    "Assignment": {
                        "parameters": {
                            "api-version": "2018-11-01-preview",
                            "assignmentName": "assignSimpleBlueprint",
                            "assignmentOperationName": "fb5d4dcb-7ce2-4087-ba7a-459aa74e5e0f",
                            "scope": "subscriptions/f8df94f2-2f5a-4f4a-bcaf-1bb992fb564b"
                        },
                        "responses": {
                            "200": {
                                "body": {
                                    "id": "/subscriptions/f8df94f2-2f5a-4f4a-bcaf-1bb992fb564b/providers/microsoft.blueprint/blueprintAssignments/assignSimpleBlueprint/assignmentOperations/fb5d4dcb-7ce2-4087-ba7a-459aa74e5e0f",
                                    "name": "fb5d4dcb-7ce2-4087-ba7a-459aa74e5e0f",
                                    "properties": {
                                        "assignmentState": "succeed",
                                        "blueprintVersion": "v20181101",
                                        "deployments": [
                                            {
                                                "action": "put",
                                                "history": [
                                                    {
                                                        "error": {
                                                            "code": "dummy",
                                                            "message": "dummy"
                                                        }
                                                    }
                                                ],
                                                "jobState": "succeeded",
                                                "kind": "azureResource",
                                                "requestUri": "/subscriptions/f8df94f2-2f5a-4f4a-bcaf-1bb992fb564b/providers/microsoft.deployments/deployments/48432786-2f1b-4925-8032-a5d57bcb5b6e",
                                                "result": {
                                                    "resources": [
                                                        {
                                                            "id": "blabla",
                                                            "name": "foobar",
                                                            "type": "foo/bar"
                                                        }
                                                    ]
                                                }
                                            }
                                        ],
                                        "timeCreated": "2018-11-13T15:19:45-08:00",
                                        "timeFinished": "2018-11-13T15:26:02-08:00",
                                        "timeStarted": "2018-11-13T15:21:49-08:00"
                                    },
                                    "type": "microsoft.blueprint/blueprintAssignments/operations"
                                }
                            }
                        }
                    }
                }
            }
        }
    },
    "components": {
        "schemas": {
            "AssignmentDeploymentJob": {
                "description": "Represents individual job in given blueprint assignment operation.",
                "properties": {
                    "action": {
                        "description": "Name of the action performed in this job.",
                        "type": "string"
                    },
                    "history": {
                        "description": "Result of this deployment job for each retry.",
                        "items": {
                            "description": "Result of each individual deployment in a blueprint assignment.",
                            "properties": {
                                "error": {
                                    "description": "Contains error details if deployment job failed.",
                                    "properties": {
                                        "code": {
                                            "description": "Error code.",
                                            "type": "string"
                                        },
                                        "message": {
                                            "description": "Error message.",
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                },
                                "resources": {
                                    "description": "Resources created as result of the deployment job.",
                                    "items": {
                                        "allOf": [
                                            {
                                                "description": "Common properties for all Azure resources.",
                                                "properties": {
                                                    "id": {
                                                        "description": "String Id used to locate any resource on Azure.",
                                                        "readOnly": true,
                                                        "type": "string"
                                                    },
                                                    "name": {
                                                        "description": "Name of this resource.",
                                                        "readOnly": true,
                                                        "type": "string"
                                                    },
                                                    "type": {
                                                        "description": "Type of this resource.",
                                                        "readOnly": true,
                                                        "type": "string"
                                                    }
                                                },
                                                "type": "object",
                                                "x-ms-azure-resource": true
                                            }
                                        ],
                                        "description": "Azure resource created from deployment job.",
                                        "properties": {
                                            "properties": {
                                                "additionalProperties": {
                                                    "description": "property value",
                                                    "type": "string"
                                                },
                                                "description": "Additional properties in a dictionary.",
                                                "type": "object"
                                            }
                                        },
                                        "type": "object"
                                    },
                                    "type": "array"
                                }
                            },
                            "type": "object"
                        },
                        "type": "array"
                    },
                    "jobId": {
                        "description": "Id of this job.",
                        "type": "string"
                    },
                    "jobState": {
                        "description": "State of this job.",
                        "type": "string"
                    },
                    "kind": {
                        "description": "Kind of job.",
                        "type": "string"
                    },
                    "requestUri": {
                        "description": "Reference to deployment job resource id.",
                        "type": "string"
                    },
                    "result": {
                        "description": "Deployment job result.",
                        "properties": {
                            "error": {
                                "description": "Contains error details if deployment job failed.",
                                "properties": {
                                    "code": {
                                        "description": "Error code.",
                                        "type": "string"
                                    },
                                    "message": {
                                        "description": "Error message.",
                                        "type": "string"
                                    }
                                },
                                "type": "object"
                            },
                            "resources": {
                                "description": "Resources created as result of the deployment job.",
                                "items": {
                                    "allOf": [
                                        {
                                            "description": "Common properties for all Azure resources.",
                                            "properties": {
                                                "id": {
                                                    "description": "String Id used to locate any resource on Azure.",
                                                    "readOnly": true,
                                                    "type": "string"
                                                },
                                                "name": {
                                                    "description": "Name of this resource.",
                                                    "readOnly": true,
                                                    "type": "string"
                                                },
                                                "type": {
                                                    "description": "Type of this resource.",
                                                    "readOnly": true,
                                                    "type": "string"
                                                }
                                            },
                                            "type": "object",
                                            "x-ms-azure-resource": true
                                        }
                                    ],
                                    "description": "Azure resource created from deployment job.",
                                    "properties": {
                                        "properties": {
                                            "additionalProperties": {
                                                "description": "property value",
                                                "type": "string"
                                            },
                                            "description": "Additional properties in a dictionary.",
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                },
                                "type": "array"
                            }
                        },
                        "type": "object"
                    }
                },
                "type": "object"
            },
            "AssignmentDeploymentJobResult": {
                "description": "Result of each individual deployment in a blueprint assignment.",
                "properties": {
                    "error": {
                        "description": "Contains error details if deployment job failed.",
                        "properties": {
                            "code": {
                                "description": "Error code.",
                                "type": "string"
                            },
                            "message": {
                                "description": "Error message.",
                                "type": "string"
                            }
                        },
                        "type": "object"
                    },
                    "resources": {
                        "description": "Resources created as result of the deployment job.",
                        "items": {
                            "allOf": [
                                {
                                    "description": "Common properties for all Azure resources.",
                                    "properties": {
                                        "id": {
                                            "description": "String Id used to locate any resource on Azure.",
                                            "readOnly": true,
                                            "type": "string"
                                        },
                                        "name": {
                                            "description": "Name of this resource.",
                                            "readOnly": true,
                                            "type": "string"
                                        },
                                        "type": {
                                            "description": "Type of this resource.",
                                            "readOnly": true,
                                            "type": "string"
                                        }
                                    },
                                    "type": "object",
                                    "x-ms-azure-resource": true
                                }
                            ],
                            "description": "Azure resource created from deployment job.",
                            "properties": {
                                "properties": {
                                    "additionalProperties": {
                                        "description": "property value",
                                        "type": "string"
                                    },
                                    "description": "Additional properties in a dictionary.",
                                    "type": "object"
                                }
                            },
                            "type": "object"
                        },
                        "type": "array"
                    }
                },
                "type": "object"
            },
            "AssignmentJobCreatedResource": {
                "allOf": [
                    {
                        "description": "Common properties for all Azure resources.",
                        "properties": {
                            "id": {
                                "description": "String Id used to locate any resource on Azure.",
                                "readOnly": true,
                                "type": "string"
                            },
                            "name": {
                                "description": "Name of this resource.",
                                "readOnly": true,
                                "type": "string"
                            },
                            "type": {
                                "description": "Type of this resource.",
                                "readOnly": true,
                                "type": "string"
                            }
                        },
                        "type": "object",
                        "x-ms-azure-resource": true
                    }
                ],
                "description": "Azure resource created from deployment job.",
                "properties": {
                    "properties": {
                        "additionalProperties": {
                            "description": "property value",
                            "type": "string"
                        },
                        "description": "Additional properties in a dictionary.",
                        "type": "object"
                    }
                },
                "type": "object"
            },
            "AssignmentOperation": {
                "allOf": [
                    {
                        "description": "Common properties for all Azure resources.",
                        "properties": {
                            "id": {
                                "description": "String Id used to locate any resource on Azure.",
                                "readOnly": true,
                                "type": "string"
                            },
                            "name": {
                                "description": "Name of this resource.",
                                "readOnly": true,
                                "type": "string"
                            },
                            "type": {
                                "description": "Type of this resource.",
                                "readOnly": true,
                                "type": "string"
                            }
                        },
                        "type": "object",
                        "x-ms-azure-resource": true
                    }
                ],
                "description": "Represents underlying deployment detail for each update to the blueprint assignment.",
                "properties": {
                    "properties": {
                        "description": "Properties for AssignmentOperation.",
                        "x-ms-client-flatten": true,
                        "properties": {
                            "assignmentState": {
                                "description": "State of this blueprint assignment operation.",
                                "type": "string"
                            },
                            "blueprintVersion": {
                                "description": "The published version of the blueprint definition used for the blueprint assignment operation.",
                                "type": "string"
                            },
                            "deployments": {
                                "description": "List of jobs in this blueprint assignment operation.",
                                "items": {
                                    "description": "Represents individual job in given blueprint assignment operation.",
                                    "properties": {
                                        "action": {
                                            "description": "Name of the action performed in this job.",
                                            "type": "string"
                                        },
                                        "history": {
                                            "description": "Result of this deployment job for each retry.",
                                            "items": {
                                                "description": "Result of each individual deployment in a blueprint assignment.",
                                                "properties": {
                                                    "error": {
                                                        "description": "Contains error details if deployment job failed.",
                                                        "properties": {
                                                            "code": {
                                                                "description": "Error code.",
                                                                "type": "string"
                                                            },
                                                            "message": {
                                                                "description": "Error message.",
                                                                "type": "string"
                                                            }
                                                        },
                                                        "type": "object"
                                                    },
                                                    "resources": {
                                                        "description": "Resources created as result of the deployment job.",
                                                        "items": {
                                                            "allOf": [
                                                                {
                                                                    "description": "Common properties for all Azure resources.",
                                                                    "properties": {
                                                                        "id": {
                                                                            "description": "String Id used to locate any resource on Azure.",
                                                                            "readOnly": true,
                                                                            "type": "string"
                                                                        },
                                                                        "name": {
                                                                            "description": "Name of this resource.",
                                                                            "readOnly": true,
                                                                            "type": "string"
                                                                        },
                                                                        "type": {
                                                                            "description": "Type of this resource.",
                                                                            "readOnly": true,
                                                                            "type": "string"
                                                                        }
                                                                    },
                                                                    "type": "object",
                                                                    "x-ms-azure-resource": true
                                                                }
                                                            ],
                                                            "description": "Azure resource created from deployment job.",
                                                            "properties": {
                                                                "properties": {
                                                                    "additionalProperties": {
                                                                        "description": "property value",
                                                                        "type": "string"
                                                                    },
                                                                    "description": "Additional properties in a dictionary.",
                                                                    "type": "object"
                                                                }
                                                            },
                                                            "type": "object"
                                                        },
                                                        "type": "array"
                                                    }
                                                },
                                                "type": "object"
                                            },
                                            "type": "array"
                                        },
                                        "jobId": {
                                            "description": "Id of this job.",
                                            "type": "string"
                                        },
                                        "jobState": {
                                            "description": "State of this job.",
                                            "type": "string"
                                        },
                                        "kind": {
                                            "description": "Kind of job.",
                                            "type": "string"
                                        },
                                        "requestUri": {
                                            "description": "Reference to deployment job resource id.",
                                            "type": "string"
                                        },
                                        "result": {
                                            "description": "Deployment job result.",
                                            "properties": {
                                                "error": {
                                                    "description": "Contains error details if deployment job failed.",
                                                    "properties": {
                                                        "code": {
                                                            "description": "Error code.",
                                                            "type": "string"
                                                        },
                                                        "message": {
                                                            "description": "Error message.",
                                                            "type": "string"
                                                        }
                                                    },
                                                    "type": "object"
                                                },
                                                "resources": {
                                                    "description": "Resources created as result of the deployment job.",
                                                    "items": {
                                                        "allOf": [
                                                            {
                                                                "description": "Common properties for all Azure resources.",
                                                                "properties": {
                                                                    "id": {
                                                                        "description": "String Id used to locate any resource on Azure.",
                                                                        "readOnly": true,
                                                                        "type": "string"
                                                                    },
                                                                    "name": {
                                                                        "description": "Name of this resource.",
                                                                        "readOnly": true,
                                                                        "type": "string"
                                                                    },
                                                                    "type": {
                                                                        "description": "Type of this resource.",
                                                                        "readOnly": true,
                                                                        "type": "string"
                                                                    }
                                                                },
                                                                "type": "object",
                                                                "x-ms-azure-resource": true
                                                            }
                                                        ],
                                                        "description": "Azure resource created from deployment job.",
                                                        "properties": {
                                                            "properties": {
                                                                "additionalProperties": {
                                                                    "description": "property value",
                                                                    "type": "string"
                                                                },
                                                                "description": "Additional properties in a dictionary.",
                                                                "type": "object"
                                                            }
                                                        },
                                                        "type": "object"
                                                    },
                                                    "type": "array"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                },
                                "type": "array"
                            },
                            "timeCreated": {
                                "description": "Create time of this blueprint assignment operation.",
                                "type": "string"
                            },
                            "timeFinished": {
                                "description": "Finish time of the overall underlying deployments.",
                                "type": "string"
                            },
                            "timeStarted": {
                                "description": "Start time of the underlying deployment.",
                                "type": "string"
                            }
                        },
                        "type": "object"
                    }
                },
                "type": "object"
            },
            "AssignmentOperationList": {
                "description": "List of AssignmentOperation.",
                "properties": {
                    "nextLink": {
                        "description": "Link to the next page of results.",
                        "readOnly": true,
                        "type": "string"
                    },
                    "value": {
                        "description": "List of AssignmentOperation.",
                        "items": {
                            "allOf": [
                                {
                                    "description": "Common properties for all Azure resources.",
                                    "properties": {
                                        "id": {
                                            "description": "String Id used to locate any resource on Azure.",
                                            "readOnly": true,
                                            "type": "string"
                                        },
                                        "name": {
                                            "description": "Name of this resource.",
                                            "readOnly": true,
                                            "type": "string"
                                        },
                                        "type": {
                                            "description": "Type of this resource.",
                                            "readOnly": true,
                                            "type": "string"
                                        }
                                    },
                                    "type": "object",
                                    "x-ms-azure-resource": true
                                }
                            ],
                            "description": "Represents underlying deployment detail for each update to the blueprint assignment.",
                            "properties": {
                                "properties": {
                                    "description": "Properties for AssignmentOperation.",
                                    "x-ms-client-flatten": true,
                                    "properties": {
                                        "assignmentState": {
                                            "description": "State of this blueprint assignment operation.",
                                            "type": "string"
                                        },
                                        "blueprintVersion": {
                                            "description": "The published version of the blueprint definition used for the blueprint assignment operation.",
                                            "type": "string"
                                        },
                                        "deployments": {
                                            "description": "List of jobs in this blueprint assignment operation.",
                                            "items": {
                                                "description": "Represents individual job in given blueprint assignment operation.",
                                                "properties": {
                                                    "action": {
                                                        "description": "Name of the action performed in this job.",
                                                        "type": "string"
                                                    },
                                                    "history": {
                                                        "description": "Result of this deployment job for each retry.",
                                                        "items": {
                                                            "description": "Result of each individual deployment in a blueprint assignment.",
                                                            "properties": {
                                                                "error": {
                                                                    "description": "Contains error details if deployment job failed.",
                                                                    "properties": {
                                                                        "code": {
                                                                            "description": "Error code.",
                                                                            "type": "string"
                                                                        },
                                                                        "message": {
                                                                            "description": "Error message.",
                                                                            "type": "string"
                                                                        }
                                                                    },
                                                                    "type": "object"
                                                                },
                                                                "resources": {
                                                                    "description": "Resources created as result of the deployment job.",
                                                                    "items": {
                                                                        "allOf": [
                                                                            {
                                                                                "description": "Common properties for all Azure resources.",
                                                                                "properties": {
                                                                                    "id": {
                                                                                        "description": "String Id used to locate any resource on Azure.",
                                                                                        "readOnly": true,
                                                                                        "type": "string"
                                                                                    },
                                                                                    "name": {
                                                                                        "description": "Name of this resource.",
                                                                                        "readOnly": true,
                                                                                        "type": "string"
                                                                                    },
                                                                                    "type": {
                                                                                        "description": "Type of this resource.",
                                                                                        "readOnly": true,
                                                                                        "type": "string"
                                                                                    }
                                                                                },
                                                                                "type": "object",
                                                                                "x-ms-azure-resource": true
                                                                            }
                                                                        ],
                                                                        "description": "Azure resource created from deployment job.",
                                                                        "properties": {
                                                                            "properties": {
                                                                                "additionalProperties": {
                                                                                    "description": "property value",
                                                                                    "type": "string"
                                                                                },
                                                                                "description": "Additional properties in a dictionary.",
                                                                                "type": "object"
                                                                            }
                                                                        },
                                                                        "type": "object"
                                                                    },
                                                                    "type": "array"
                                                                }
                                                            },
                                                            "type": "object"
                                                        },
                                                        "type": "array"
                                                    },
                                                    "jobId": {
                                                        "description": "Id of this job.",
                                                        "type": "string"
                                                    },
                                                    "jobState": {
                                                        "description": "State of this job.",
                                                        "type": "string"
                                                    },
                                                    "kind": {
                                                        "description": "Kind of job.",
                                                        "type": "string"
                                                    },
                                                    "requestUri": {
                                                        "description": "Reference to deployment job resource id.",
                                                        "type": "string"
                                                    },
                                                    "result": {
                                                        "description": "Deployment job result.",
                                                        "properties": {
                                                            "error": {
                                                                "description": "Contains error details if deployment job failed.",
                                                                "properties": {
                                                                    "code": {
                                                                        "description": "Error code.",
                                                                        "type": "string"
                                                                    },
                                                                    "message": {
                                                                        "description": "Error message.",
                                                                        "type": "string"
                                                                    }
                                                                },
                                                                "type": "object"
                                                            },
                                                            "resources": {
                                                                "description": "Resources created as result of the deployment job.",
                                                                "items": {
                                                                    "allOf": [
                                                                        {
                                                                            "description": "Common properties for all Azure resources.",
                                                                            "properties": {
                                                                                "id": {
                                                                                    "description": "String Id used to locate any resource on Azure.",
                                                                                    "readOnly": true,
                                                                                    "type": "string"
                                                                                },
                                                                                "name": {
                                                                                    "description": "Name of this resource.",
                                                                                    "readOnly": true,
                                                                                    "type": "string"
                                                                                },
                                                                                "type": {
                                                                                    "description": "Type of this resource.",
                                                                                    "readOnly": true,
                                                                                    "type": "string"
                                                                                }
                                                                            },
                                                                            "type": "object",
                                                                            "x-ms-azure-resource": true
                                                                        }
                                                                    ],
                                                                    "description": "Azure resource created from deployment job.",
                                                                    "properties": {
                                                                        "properties": {
                                                                            "additionalProperties": {
                                                                                "description": "property value",
                                                                                "type": "string"
                                                                            },
                                                                            "description": "Additional properties in a dictionary.",
                                                                            "type": "object"
                                                                        }
                                                                    },
                                                                    "type": "object"
                                                                },
                                                                "type": "array"
                                                            }
                                                        },
                                                        "type": "object"
                                                    }
                                                },
                                                "type": "object"
[...]
